@CHARSET "UTF-8";
body,ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, a,img{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color:#838383;
	font-family: "Microsoft Yahei","微软雅黑","宋体";
	text-decoration: none;
}
body{
		background: #DCDCDC
}
a:hover{color:#206100; }
ul li{list-style: none;}
.nav{background: #eee;height: 30px;border-bottom: 1px solid #fff;}
.top_nav{width: 1000px;margin: 0 auto;height: 30px;line-height: 30px;color: #666;}
.nav_left{float: left;}
.nav_right{float: right;}
.search{
	height: 50px;
	width: 1000px;
	margin: 0 auto;
}
.header{margin: 0 auto;min-height: 90px;border-bottom:4px solid #047e1e;height: auto;overflow:hidden;background: #fff}
.banner{width: 1000px;margin: 0 auto;height: 40px;background: #047e1e}
.banner ul li{min-width: 80px;width: auto;float: left;display: block;}
.banner ul li a {padding-left:20px;padding-right:20px;float: left;line-height: 30px;font-size: 14px;text-align: center;color: #fff;font-weight: bold;height: 30px;padding-top:10px;margin-right: 5px;}
.banner ul li a:hover{color: #047e1e;text-decoration: none;font-size: 16px;background: #f5f0f0;}
.banner ul li a.on,.banner ul li a.on:hover{color:#047e1e;text-decoration: none; font-size: 16px;background: #f5f0f0;}
/*中间内容样式*/
.main_container{width: 985px;margin: 0 auto;background: #fff;padding:7px 8px 5px 10px;min-height:500px;height: auto;overflow: hidden; }
.main_border{border: 1px solid #DBDBDB;}
.m_r_15{margin-right:10px; }
.m_t_10{margin-top:10px;}
.area1,.area2{height: auto;overflow: hidden;clear: both;}
.area_left,.area_right{float: left;}
.area_left{
		position: relative;
		overflow: hidden;
	    height:330px;
}

.area2_left,.area2_right,.area3_right,.area3_left{min-height: 200px;float: left;height: auto;}
.h2_cls{border-bottom:2px solid  #3B8F16;}
.h2_cls a{background:  #047e1e;color: #fff;height: 30px;line-height: 30px; font-size: 18px;padding:7px 7px 3px 7px;font-weight:normal;}
.area_line{border-bottom:1px solid  #047e1e; border-left:1px solid  #047e1e;border-right: 1px solid  #047e1e;min-height: 290px;height: auto;*height:290px;overflow: hidden;}
.area_left,.area2_left{width: 680px;}
.area_right,.area2_right{width: 295px;}
.area3_right{width:488px }
.area3_left{width:487px}
.ul_rt1{margin-left: 10px;}
.ul_rt1 li a{height: 28px;line-height: 28px;font-size: 14px;overflow: hidden;display: block;float: left;width: 250px;margin-left: 5px;}
.ul_rt1 li span{background: #666;width: 15px;height: 15px;display: block;float: left;color: #fff;text-align: center;margin-top: 7px;}
.ul_rt1 li span.level_span{background: #3B8F16;}
.ul_lt1{margin-left: 10px;}
.ul_lt1 li{width: 300px;float: left;}
.ul_lt1 li  a{font-size: 14px;height: 35px;line-height: 35px;}
/*底部样式*/
.footer{
	width: 100%;
	height: 150px;
	margin-top:3px;
	border-top: 10px solid #047e1e;
}
/*活动页面css*/
.area_left_active{
	width: 240px;
	float: left;
	margin-right: 10px;
}
.area_line1{border:1px solid  #047e1e; min-height: 290px;height: auto;*height:290px;overflow: hidden;margin-top: 30px;}
.area_line .active_type a{
	width: auto;
	margin:5px;
	height:25px;
	line-height: 25px;
	padding:5px;
	display: block;
	min-width: 50px!important;
	width: auto;
	width:50px;
	float: left;
	text-align: center;
	background: #ccc;
	color: #047e1e;
}
.active_type{
	position: relative;
}
.active_type a:hover{
	background: #047e1e;
	color: #fff;
}
.area_line1 .active_type span{
	position: absolute;
	top:0;
	left: 0;
	width:240px;
	height:290px;
	z-index: 1;
}

/*活动页面css*/
.footer_container {width: 1000px;margin: 0 auto;padding-top: 20px;}
.footer_container ul li {float: left;height: 20px;line-height: 20px;text-align: center;}


