@CHARSET "UTF-8";
body,ul,li{
	margin:0;
	padding:0;
	overflow: hidden;
	margin-bottom: 50px;
}
body{
	background: #E2E9EA;
}
iframe{
	height:100%;
	border: 0px;
}
.frame{
	overflow-y:auto; 
     position: absolute;
}
.fleft{
	width: 218px;
	background: #fff;
}
.fright{
	width: 100%;
		background: #fff;
}
.main_top{
	 width: 100%;
	height:80px;
	
	z-index: 10;
	position: relative;
	background: #14364f;
}
.filter{
	 filter: Alpha(Opacity=80);
	 opacity:0.8;
}
.main_left{

	position:absolute;
	border-right: 1px solid #c3c3c3;
	height: auto;
	top: 80px;
	z-index: 7px;
	left:0;
	bottom: 0;
}
.main_container{
	width: 84%;
	position:absolute;
	height: auto;
	top: 80px;
	z-index: 7px;
	left: 228px;
	bottom: 0;
}
.main_footer{
	clear:both;
	height:80px;
	width:100%;
	background: #000;	
	position: fixed;
	bottom: 0px;
}
